<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles1.css" />
    <title>ChatBot</title>
</head>
<body>

    <div class="Layout">
        <div class="writing-container">
            <div class = "green-rectangle">
              <div class = "Title">AI-Therapist</div>
            </div>

            <div class = "MiniRectangle"></div>

            <div class = "Invis"></div>

            <div class="Backend"
        <form method="post">
            {% if not(answer) %}
                <label for="role">Role:</label>
                <input type="text" name="role" required>
            {% endif %}

            <label for="prompt">Prompt:</label>
            <input type="text" name="prompt" required>

            <button type="submit">Get answer</button>

            {% if answer %}
            <p>Answer: {{ answer }}</p>
            {% endif %}
        </form>
    </div>

        </div>
    </div>

    
</body>
</html>